/********************** 
* Globals
*/

html{
    /* This sets 1rem = 10px*/
    font-size: 62.5%
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}

main {
    flex: 1 0 auto;
}
   
/********************** 
* Utility classes
*/
.u-center-box{
    margin: 0 auto;
}

.standard-text-font-size {
    font-size: 1.5rem;
}

/********************** 
* Header/Nav
*/

nav {
    background-color: #55c57a;
}

input{
    color: white;
    font-size: 2rem !important;
}

#location-input{
    width: 25%;
    font-size: 2rem;
}

label{
    font-size: 2rem !important;
}
#dates-input{
    width: 10%;
}

/********************** 
* Main 
*/

.container{
    overflow: visible;
    font-size: 1.5rem;
}

.container{
    overflow: visible;
    font-size: 1.5rem;
}
/********************** 
* Inputs
*/

.submit-button{
    color: black;
}

/********************** 
* Dividers
*/

.divider-size{
    height: 55rem;
}

.icon{
    font-size:30rem;
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section-header{
    font-size:10rem;
    position: absolute;
    bottom: -10%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.weather-divider{
    background-image: url(../images/bg-weather.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}
.events-divider{
    background-image: url(../images/bg-event.jpg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}

.news-divider{
    background-image: url(../images/bg-news.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}

.twitter-divider{
    background-image: url(../images/bg-twitter.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}

/********************** 
* Display-areas
*/
.events-output{
    margin: 3rem auto;
    line-height: 1.5;
    border: 2px solid #55c57a;
    padding: 1rem;
}

.weather-output{
    margin: 3rem auto;
    line-height: 1.5;
    border: 2px solid #55c57a;
    padding: 1rem;
    margin: 0 auto;
}

.news-output{
    margin: 3rem auto;
    line-height: 1.5;
    border: 2px solid #55c57a;
    padding: 1rem;
    margin: 0 auto;
}

.push{
    height: 8rem;
}

.push-small{
    height: 5rem;
}
/********************** 
* Footer
*/

.page-footer{
    background-color: #55c57a;
}