/********************** 
* Globals
*/

a, button, input {
    cursor: pointer;
}

html{
    /* This sets 1rem = 10px*/
    font-size: 62.5%
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}

main {
    flex: 1 0 auto;
}

h2 {
    margin-bottom: 2rem;
    font-size: 5rem;
}

/********************** 
* Utility classes
*/
.u-center-box{
    margin: 0 auto;
}

.u-horz-padding{
    padding: 0 .5rem;
}

.u-text-font-size {
    font-size: 1.5rem;
}

.u-center-text{
    text-align: center;
}

.u-green-color{
    color: #55c57a;
}
/********************** 
* Header/Nav
*/

nav {
    background-color: #55c57a;
}


/********************** 
* Welcome and Inputs
*/

.welcome-area{
    font-size: 2rem;
    line-height: 1.5;
}

input{
    color: white;
    font-size: 2rem !important;
}

fieldset{
    border: 2px solid #55c57a;
    width: 25rem;
    margin: 0 auto;
    padding: 3rem;
}

.date-selector-area{
    margin-top: 5rem;
}

#location-input{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.submit-button{
    margin-top: 2rem;
}

/********************** 
* Main 
*/

.container{
    overflow: visible;
    font-size: 1.5rem;
}

.container{
    overflow: visible;
    font-size: 1.5rem;
}

/********************** 
* Dividers
*/

.divider-size{
    height: 55rem;
}

.icon{
    font-size:30rem;
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section-header{
    font-size:10rem;
    position: absolute;
    bottom: -10%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.weather-divider{
    background-image: url(../images/bg-weather.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}
.events-divider{
    background-image: url(../images/bg-event.jpg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}

.news-divider{
    background-image: url(../images/bg-news.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}

.twitter-divider{
    background-image: url(../images/bg-twitter.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:relative;
}

/********************** 
* Display-areas
*/
.weather-output{
    margin: 3rem auto;
    line-height: 1.5;
    border: 2px solid #55c57a;
    border-radius: 5px;
    padding: 1rem;
    width: 70rem;
}

.weather-location {
    font-size: 3rem;
    color: #55c57a;
}

.events-output{
    margin: 3rem auto;
    line-height: 1.5;
    border: 2px solid #55c57a;
    border-radius: 5px;
    padding: 1rem;
    overflow-y: scroll;
    height: 20rem;
}

.event-title{
    font-size: 3rem;
    color: #55c57a;
}

.news-output{
    margin: 3rem auto;
    line-height: 1.5;
    border: 2px solid #55c57a;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
}

.push{
    height: 8rem;
}

.push-small{
    height: 5rem;
}
/********************** 
* Footer
*/

.page-footer{
    background-color: #55c57a;
}

@media (max-width: 590.5px){
    .fa-building{
        position: absolute;
        top: 30%;
        left: -30%;
    }
}