/********************** 
* Globals
*/

html{
    /* This sets 1rem = 10px*/
    font-size: 62.5%
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}

main {
    flex: 1 0 auto;
}
   
/********************** 
* Utility classes
*/
.u-center-box{
    margin: 0 auto;
}

.standard-text-font-size {
    font-size: 1.5rem;
}

/********************** 
* Header/Nav
*/

nav {
    background-color: #55c57a;
}

input{
    color: white;
}

/********************** 
* Main 
*/

.container{
    overflow: visible;
    margin-top: 30px;
    font-size: 1.5rem;
}

/********************** 
* Inputs
*/

.submit-button{
    color: black;
}

/********************** 
* Dividers
*/

.divider-size{
    height: 50rem;
}

.weather-divider{
    background-image: url(../images/bg-weather.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.events-divider{
    background-image: url(../images/bg-event.jpg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.news-divider{
    background-image: url(../images/bg-news.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.twitter-divider{
    background-image: url(../images/bg-twitter.jpeg);
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.push{
    height: 8rem;
}

/********************** 
* Footer
*/

.page-footer{
    background-color: #55c57a;
}